
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind base;
@layer base {
    *,
    ::before,
    ::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
    }

    ::before,
    ::after {
    --tw-content: '';
    }

    html,
    :host {
        font-family:"Inter var", sans-serif;
        font-feature-settings: "cv11", "ss01"; /* 5 */
        font-variation-settings: "opsz" 32; /* 6 */
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        -o-tab-size: 4;
        tab-size: 4;
    }
    
    :root {
        --white: white;
        --black: black;
        --coral: #f37b51;
        --goldenrod: #eebb19;
        --yellow-green: #a5cc59;
        --medium-turquoise: #66d6ca;
        --light-sky-blue: #71bbe3;
        --medium-purple: #a36cf3;
        --orchid: #e26cdf;
        --burlywood: #ffc47d;
        --sandy-brown: #ff9247;
        --light-grey: #cec9c3;
        --grey: #777;
        --gold: #ffdd6e;
        --white-smoke: #faf8f5;
        --dim-grey: rgba(116, 103, 91, .06);
    }
    .lb-Nav{
        --tw-scale-x: .9;
        --tw-scale-y: .9;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      }
    .mf-Nav {
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
    .mb-Nav {
        --tw-scale-x: .95;
        --tw-scale-y: .95;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      }
    .kb-Nav {
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      }
    
    .ef-Nav {
        --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .ff-Nav  {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
      }
    .kf-Nav {
        --tw-ring-color: rgb(9 9 11 / 0.05);
            }
   .fd-Nav {
        background-color: rgb(212 212 216 / 0.3);
      }
   .b-hero {
        position: relative;
        padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
        --tw-aspect-w: 4;
      }
   .b-hero > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

    .bg-hero {
        background-color: rgb(255 255 255 / 0.1);
      }
    .lf-hero {
        --tw-backdrop-blur: blur(8px);
        -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
                backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
      }
    .jf-hero {
        --tw-ring-color: rgb(9 9 11 / 0.1);
      }
    .cf-hero {
        --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
    .hover\:zf-hero:hover {
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
    .bf-hero {
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
      .\[mask-image\:_linear-gradient\(to_right\2c transparent_0\2c _black_128px\2c _black_calc\(100\%-128px\)\2c transparent_100\%\)\] {
        -webkit-mask-image: linear-gradient(to right,transparent 0, black 128px, black calc(100% - 128px),transparent 100%);
        mask-image: linear-gradient(to right,transparent 0, black 128px, black calc(100% - 128px),transparent 100%);
      }
      .ob-hero {
        animation: tw-infinite-scroll 25s linear infinite;
      }
      .\[\&_img\]\:tw-max-w-none img {
        max-width: none;
      }
      .\[\&_li\]\:tw-mx-4 li {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      @media (min-width: 768px) {
        .md\:\[\&_li\]\:tw-mx-8 li {
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }
      .carousel-border-color {
        --tw-border-opacity: 1;
        border-color: rgb(228 228 231 / var(--tw-border-opacity));
      }
      .df-carousel {
        --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
      .we-carousel {
        --tw-text-opacity: 1;
        color: rgb(82 82 91 / var(--tw-text-opacity));
      }

      @keyframes tw-infinite-scroll {
        from {
          transform: translateX(0);
        }
      
        to {
          transform: translateX(-100%);
        }
      }
}